@model EditExperienceVM

@{
    ViewBag.Title = "Edit Experience | Supershow";
}

@section head {
    <style>
        #image-preview-container {
            position: relative;
            overflow: hidden;
            margin-bottom: 12px;
        }

        #image-preview-container:not(:has(img[src])) {
            display: none;
        }

        #image-preview {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #image-preview.horizontal-fit {
            width: 100%;
            object-fit: contain;
        }

        #image-preview.vertical-fit {
            height: 100%;
            object-fit: contain;
        }
    </style>
}

<form class="container info-container horizontal-center" enctype="multipart/form-data" method="post">
    <input asp-for="Id" hidden />
    <input asp-for="Name" hidden />
    <input asp-for="Slug" hidden />

    <div class="title">Experience Details</div>
    <div data-column-container="3">
        <div>Id</div>
        <div>:</div>
        <div>@Model.Id</div>

        <div>Name</div>
        <div>:</div>
        <div>@Model.Name</div>

        <div>Slug</div>
        <div>:</div>
        <div>@Model.Slug</div>

        <label asp-for="TagLine"></label>
        <div>:</div>
        <div class="form-group">
            <div class="form-input">
                <input asp-for="TagLine">
            </div>
            <span asp-validation-for="TagLine"></span>
        </div>

        <label asp-for="Description"></label>
        <div>:</div>
        <div class="form-group">
            <textarea asp-for="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>

        <label asp-for="Includes"></label>
        <div>:</div>
        <div class="form-group">
            <textarea asp-for="Includes"></textarea>
            <span asp-validation-for="Includes"></span>
        </div>

        <label asp-for="Price">Price (RM)</label>
        <div>:</div>
        <div class="form-group">
            <div class="form-input">
                <input type="number" data-rm-format asp-for="Price">
            </div>
            <span asp-validation-for="Price"></span>
        </div>

        <label asp-for="BannerImage"></label>
        <div>:</div>
        <div class="form-group">
            <input type="file" id="image-file" asp-for="BannerImage" accept="image/jpeg, image/png" hidden />
            <input id="image-x" asp-for="ImageX" hidden>
            <input id="image-y" asp-for="ImageY" hidden>
            <input id="image-scale" asp-for="ImageScale" hidden>
            <input asp-for="PreviewWidth" hidden>
            <input asp-for="PreviewHeight" hidden>

            <div id="image-preview-container" style="width: @(Model.PreviewWidth)px; height: @(Model.PreviewHeight)px">
                <img id="image-preview" src="/uploads/experience/@ViewBag.PosterImageUrl" class="vertical-fit" />
            </div>

            <div class="form-group">
                <span asp-validation-for="BannerImage"></span>
            </div>

            <div class="button-group-inline">
                <button type="button" id="upload-poster-image-button" data-button="yellow">Upload</button>
                <button type="button" id="reset-poster-image-button" data-button="blue" disabled>Reset</button>
            </div>
        </div>
    </div>
    <button data-button="green">Save Changes</button>
</form>

<div id="upload-overlay" class="overlay upload-overlay">
    <div class="content">
        <div class="overlay-header">
            <div class="title">Upload Image</div>
            <div class="overlay-close"></div>
        </div>
        <div class="overlay-body">
            <div class="upload-drop-zone" class="show">
                <div>Drag and drop your image here or click to select</div>
            </div>
            <div class="upload-preview-zone">
                <div class="upload-preview-container" class="show">
                    <img class="upload-preview-image" draggable="false" />
                </div>
                <input type="range" class="zoom-slider" min="1" max="2" step="0.01" />
                <button class="confirm-upload" data-button="yellow">Confirm</button>
            </div>
        </div>
    </div>
</div>

@section foot {
    <script>
        const originalSrc = $("#image-preview").attr("src")
        const uploadOverlay = new UploadOverlay("#image-file", @Model.PreviewWidth, @Model.PreviewHeight)

        $("#upload-poster-image-button").on("click", async function () {
            const uploadResult = await uploadOverlay.open()
            if (uploadResult) {
                if (uploadResult.horizontalFit) {
                    $("#image-preview").addClass("horizontal-fit")
                    $("#image-preview").removeClass("vertical-fit")
                } else {
                    $("#image-preview").addClass("vertical-fit")
                    $("#image-preview").removeClass("horizontal-fit")
                }

                $("#image-preview").attr("src", uploadResult.src)
                $("#image-x").val(uploadResult.imgX)
                $("#image-y").val(uploadResult.imgY)
                $("#image-scale").val(uploadResult.scale)
                updateImagePreview("#image-preview", $("#image-x").val(), $("#image-y").val(), $("#image-scale").val())

                $("#reset-poster-image-button").prop("disabled", false)
            }
        })

        $("#reset-poster-image-button").on("click", async function () {
            $("#image-file").val("") // remove file input value

            $("#image-x").val(0)
            $("#image-y").val(0)
            $("#image-scale").val(1)
            updateImagePreview("#image-preview", $("#image-x").val(), $("#image-y").val(), $("#image-scale").val())

            $("#image-preview").attr("src", originalSrc)
            $("#image-preview").addClass("vertical-fit")
            $("#image-preview").removeClass("horizontal-fit")

            $("#reset-poster-image-button").prop("disabled", true)
        })
    </script>
}