@model EditFnbInventoryVM

@{
    ViewBag.Title = "Edit F&B Inventory | Supershow";
}

<form class="container info-container horizontal-center" method="post">
    <input asp-for="CinemaId" hidden />
    <input asp-for="VariantId" hidden />

    <div class="title">F&B Inventory Details - @ViewBag.CinemaName</div>
    <div data-column-container="3">
        <div>Variant Id</div>
        <div>:</div>
        <div>@Model.VariantId</div>

        <label asp-for="StockCount"></label>
        <div>:</div>
        <div class="form-group">
            <div class="form-input">
                <input asp-for="@Model.StockCount" />
            </div>
            <span asp-validation-for="@Model.StockCount"></span>
        </div>
    </div>
    <button data-button="green">Save Changes</button>
</form>

<div class="container info-container horizontal-center">
    <div class="title">Action</div>
    <div class="action-button-container">
        <a data-ajax-url="@Url.Action("Delete", new { CinemaId = Model.CinemaId, VariantId = Model.VariantId })"
            data-button="red" data-ajax="true" data-ajax-method="POST" data-ajax-failure="defaultOnFailure"
            data-ajax-success="redirectToPage('@Url.Action("Manage", new { CinemaId = Model.CinemaId })')"
            data-ajax-confirm="Are you sure you want to delete this inventory item?">Delete Inventory Item</a>
    </div>
</div>