@model EditAdminVM

@{
    ViewBag.Title = "Admin Details | Supershow";
}

@section head {
    <style>
        #select-cinema-branch-container {
            display: none;
        }

        #select-cinema-branch-container.show {
            display: block;
        }

        #cinema-branch-container:has(#select-cinema-branch-container.show) #cinema-branch-text {
            display: none;
        }
    </style>
}

<form class="container info-container horizontal-center" method="post">
    <input asp-for="Id" hidden>

    <div class="title">Admin Details</div>
    <div data-column-container="3">
        <div>Id</div>
        <div>:</div>
        <div>@Model.Id</div>

        <div>Name</div>
        <div>:</div>
        <div>@Model.Account!.Name</div>

        <div>Email</div>
        <div>:</div>
        <div>@Model.Account!.Email</div>

        <label asp-for="AdminType"></label>
        <div>:</div>
        @if (Model.Account!.Email != "malaysiasupershow@gmail.com")
        {
            <div class="form-group">
                <div class="input-group">
                    <div class="custom-select">
                        <select id="admin-type" asp-for="AdminType" asp-items="Model.AvailableAdminTypes"></select>
                    </div>
                </div>
                <span asp-validation-for="AdminType"></span>
            </div>
        }
        else
        {
            <div>@Model.Account!.AccountType.Name</div>
        }


        <label asp-for="CinemaBranch"></label>
        <div>:</div>
        <div id="cinema-branch-container">
            <div id="select-cinema-branch-container">
                <div class="input-group">
                    <div class="custom-select">
                        <select asp-for="CinemaBranch" asp-items="Model.AvailableCinemas"></select>
                    </div>
                </div>
                <span asp-validation-for="CinemaBranch"></span>
            </div>
            <span id="cinema-branch-text">Unknown</span>
        </div>

        <div>Status</div>
        <div>:</div>
        <div>@Model.Account!.Status</div>
    </div>

    @if (Model.Account!.Email != "malaysiasupershow@gmail.com")
    {
        <button data-button="green">Save Changes</button>
    }
</form>

<div class="container info-container horizontal-center">
    <div class="title">Action</div>
    <div class="action-button-container">
        @if (Model.Account!.Email != "malaysiasupershow@gmail.com")
        {
            <a data-button="red" data-ajax="true" data-ajax-url="@Url.Action("Delete", new { id = Model.Id })"
                data-ajax-method="POST" data-ajax-failure="defaultOnFailure" 
                data-ajax-success="redirectToPage('@Url.Action("Manage")')"
                data-ajax-confirm="Are you sure you want to delete this admin account?">Delete Admin</a>
        }

        @if (Model.Account!.LockoutEnd != null)
        {
            <a data-button="yellow" data-ajax="true" data-ajax-url="@Url.Action("RemoveTimeout", new { id = Model.Id })"
                data-ajax-method="POST" data-ajax-failure="defaultOnFailure" data-ajax-success="reloadPage"
                data-ajax-confirm="Are you sure you want to remove timeout for this admin?">Remove Timeout</a>
        }

        <a data-button="red" data-ajax="true" data-ajax-url="@Url.Action("LogoutAllDevices", new { id = Model.Id })"
            data-ajax-method="POST" data-ajax-failure="defaultOnFailure" data-ajax-success="reloadPage"
            data-ajax-confirm="Are you sure you want to log out all devices of this admin?">Log Out from All Devices</a>
    </div>
</div>

@section foot {
    <script>
        const adminTypes = Array.from(@Html.Raw(Json.Serialize(Model.AvailableHQAdminTypes)));
        var email = "@Model.Account!.Email";

        renderCinemaBranch()
        $("#admin-type").on("change", renderCinemaBranch)

        function renderCinemaBranch() {
            var selected = $("#admin-type").val();
            if (adminTypes.includes(Number(selected)) || email == "malaysiasupershow@gmail.com") {
                $("#select-cinema-branch-container").removeClass("show");
            } else {
                $("#select-cinema-branch-container").addClass("show");
            }
        }
    </script>
}